canvas{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#scoreBoard{
	width: 480px;
	margin-left: auto;
	margin-right: auto;

}

#everything{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}

#left{
	float: left;
	background-color: blue;
}

#right{
	float: right;
	background-color: red;
}